.achievements {
  padding-bottom: 270px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
  }

  .wrap-value {
    position: relative;
    width: max-content;
    .sup {
      font-size: 30px;
      font-weight: 500;
      position: absolute;
      right: -70px;
      vertical-align: super;
      z-index: 1;
    }
  }

  &__value {
    position: relative;
    font-size: 150px;
    line-height: .8;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #019bdd;
    margin-bottom: 38px;
    display: inline-block;

  }

  &__text {
    font-size: 27px;
    line-height: .8;
    color: #000000;
  }

  .section__title {
    margin-bottom: 76px;
  }
}

@include respond-to($laptop-md) {
  .achievements {
    &__value {
      font-size: 125px;
    }
  }
}

@include respond-to($lg){
  .achievements__value {
    font-size: 75px;
  }
}