.achievements {
  padding-bottom: 270px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
  }

  .wrap-value {
    position: relative;
    width: max-content;
    .sup {
      font-size: 30px;
      font-weight: 500;
      position: absolute;
      right: -70px;
      vertical-align: super;
      z-index: 1;
    }
  }

  &__value {
    position: relative;
    font-size: 150px;
    line-height: .8;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #019bdd;
    margin-bottom: 38px;
    display: inline-block;

  }

  &__text {
    font-size: 27px;
    line-height: .8;
    color: #000000;
  }

  .section__title {
    margin-bottom: 76px;
  }
}

@include respond-to($laptop-md) {
  .achievements {
    &__value {
      font-size: 125px;
    }
  }
}

@include respond-to($lg){
  .achievements__value {
    font-size: 75px;
  }
  .wrap-value .sup{
    color: #019bdd;
    right: -58px;
    top: -9px;
  }
  .achievements{
    padding-bottom: 200px;
  }
}
@include respond-to($md){
  .achievements{
  &__item {
    width: 100%;
    margin-bottom: 46px;
    &:last-child{
      margin-bottom: 0;
    }
  }
    &__value{
      margin-bottom: 10px;
    }
  }
}

@include respond-to($sm){

}