.consultation {
  padding-top: 100px;
  font-size: 20px;
  line-height: 1.4;

  .section__title {
    margin-bottom: 36px;
  }

  .section__content {
    position: relative;
    padding-right: 26%;

    background-color: rosybrown;
  }
}