.help-children {
  padding-top: 170px;
  padding-bottom: 276px;
  font-size: 20px;
  line-height: 1.4;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #989898;

  .section__title {
    margin-bottom: 56px;
    line-height: 1.14;
  }
  .section__text{
    max-width: 610px;
    width: 100%;
  }

  .section__content {
    width: 82%;
    padding-left: 88px;
  }

  .wrap-btn {
    width: 250px;
  }

  .d-flex {
    align-items: center;
  }
}

@include respond-to($laptop) {
  .help-children{
    .section__content {
      padding-left: 58px;
    }
    .section__title {
      font-size: 52px;
    }
    .btn-help{
      height: 285px;
    }
  }
}
@include respond-to($lg) {
  .help-children{
    padding-top: 0;
    padding-bottom: 270px;
    .d-flex{
      flex-wrap: wrap;
    }
    .section__content {
      padding-left: 0;
      width: 100%;
    }
    //.section__title {
    //  font-size: 52px;
    //}
    .wrap-btn{
      order: 1;
    }
  }
}
@include respond-to($sm){
  .help-children{
    .section__title{
      font-size: 40px;
    }
  }
}

@include respond-to($xs){
  .help-children{
    .section__title{
      font-size: 35px;
    }
  }
}