.section-children {
  padding-bottom: 280px;

  .section__title {
    max-width: 1005px;
    width: 100%;
    margin-bottom: 115px;
  }

  .text_blue {
    font-size: 1.43em;
    line-height: .8;
  }
}

.children-card {
  position: relative;
  display: flex;
  padding: 30px 0;

  &:before {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #d3d3d3;
    z-index: 1;
  }

  &__thumb {
    position: relative;
    max-width: 450px;
    width: 32%;
    padding-top: 17.75%;
    border-radius: 20px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 68%;
    font-size: 16px;
    line-height: 1.5;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;

  }

  &__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__text {
    max-width: 385px;
  }

  .part {
    padding-left: 104px;
    width: 60%;

    &:nth-child(3),
    &:nth-child(4) {
      padding-bottom: 15px;
      margin-top: auto;
    }

    &_small {
      width: 40%;
    }
  }
}

.children-add {
  position: relative;
  z-index: 2;
  &__thumb {
    position: relative;
    border: 1px solid #019bdd;
    background-color: transparent;
    transition: background .35s;
    &:hover,
    &:focus {
      background-color: #019bdd;

      svg path {
        fill: #ffffff;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 60px;
    height: 60px;
    z-index: 1;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 104px;
    color: #019bdd;
  }

  &__title {
    font-weight: 500;
  }

  &__text {
    padding-bottom: 15px;
    max-width: 420px;
  }
}

@include respond-to($laptop-md) {
  .children-card .part {
    padding-left: 50px;
  }
  .children-add__body {
    width: 68%;
    padding-left: 50px;
    flex-grow: 1;
  }
}

@include respond-to($laptop) {
  .children-card {

    &__body {
      font-size: 13px;
      flex-grow: 1;
    }

    &__title {
      font-size: 25px;
    }
  }
}


@include respond-to($lg) {
  .section-children {
    padding-bottom: 150px;
  }
  .children-card {
    &__thumb {
      width: 28%;
    }

    .part {
      padding-left: 30px;
      width: 55%;
    }

    .part_small {
      width: 45%;
    }

    &__title {
      margin-bottom: 10px;
    }

    .wrap-btn {
      padding-top: 10px;
    }
  }
  .children-add__body {
    padding-left: 30px;
  }
  .children-add__thumb {
    padding-top: 17.25%;
  }
}

@include respond-to($md) {
  .section-children {
    padding-bottom: 100px;
  }
  .children-card {
    flex-direction: column;
    padding: 0;
    margin-bottom: 85px;

    &:before {
      display: none;
    }

    &__thumb {
      width: 100%;
      max-width: 100%;
      padding-top: 54.25%;
      margin-bottom: 28px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      padding-right: 40px;
    }

    .wrap-btn {
      padding-top: 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    &__body {
      width: 100%;
    }

    .part {
      padding-left: 0;
    }
  }
  .children-add__body {
    padding-left: 0;
  }
  .children-add__thumb {
    padding-top: 54.25%;
  }
}

@include respond-to($sm) {
  .section-children {
    padding-bottom: 75px;

    .section__title {
      margin-bottom: 45px;
    }
  }

  .children-card {

    &__title {
      width: 100%;
      flex-grow: 1;
    }

    .wrap-btn {
      width: 100%;
      padding-top: 15px;
      order: 1;
    }
  }
}

@include respond-to($xs) {
  .section-children {
    .section__title {
      font-size: 30px;
    }

    .text_blue {
      font-size: 1.67em;
    }
  }
  .children-card {
    margin-bottom: 95px;
    &__title {
      margin-bottom: 12px;
    }

    .wrap-btn {
      padding-top: 8px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &__text {
      padding-right: 20px;
    }
  }
}

@media screen and  (max-width: 350px){
  .children-card {
    .part{
      width: 100%;
    }
  }
}