.section-video {
  padding-top: 45px;
  padding-bottom: 18%;
  background-image: url(../assets/img/line1.svg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: 100%;

  &__slogan {
    font-size: 17px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #8e8e8e;
    margin-bottom: 132px;
  }

  &__wrap {
    position: relative;
    padding-top: 43.25%;
    margin: 0 auto;
    max-width: 1048px;
    width: 90%;
    border-radius: 37px;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__poster {
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      z-index: 2;
    }
  }
}

.infinity-line {
  background: url(../assets/img/infinity-line.png) repeat-x;
  width: 100%;
  height: 35px;
  margin-bottom: 17px;
  animation: animate 5s linear infinite;
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px #ffffff;
  z-index: 2;

  &__icon {
    width: 32px;
    height: 36px;
    margin-left: 6px;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -570px 0;
  }
}


@include respond-to($laptop-large) {
  .section-video {
    &__wrap {
      padding-top: 50.25%;
    }
  }
}

@include respond-to($md) {
  .section-video {
    background-position: center right -30px;
    background-size: 250%;

    &__slogan {
      width: 100%;
      max-width: 480px;
      margin: 0 auto 132px;
    }
  }

  .btn-play {
    width: 64px;
    height: 64px;

    &__icon {
      width: 23px;
      height: 26px;
    }
  }
}

@include respond-to($sm) {
  .section-video__wrap {
    padding-top: 80.5%;
    width: 100%;
  }
}

@include respond-to($xs) {
  .section-video {
    padding-bottom: 200px;
    background-position: bottom 35% right -8px;
    background-size: 214% 56%;

    &__slogan {
      margin-bottom: 35px;
      font-size: 13px;
      padding: 20px 0;
    }
  }
}



