.section-join{
  padding-top: 110px;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  .section__title{
    margin-bottom: 24px;
  }
  .section__text{
    margin-bottom: 88px;
  }
  .part_left{
    width: 60%;
  }
}