.btn {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  min-width: 207px;
  padding: 15px 12px;
  transition: .35s;
  border-radius: 4px;

  &_main {
    color: #ffffff;
    background-color: #019bdd;

    &:hover,
    &:focus {
      box-shadow: 0 0 50px rgba(1, 155, 221, 0.5);
    }
  }

  &_border {
    background-color: #ffffff;
    color: #019bdd;
    border: 1px solid #019bdd;

    &:hover,
    &:focus {
      background-color: #019bdd;
      color: #ffffff;
    }
  }

  &_glass {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;

    &:hover,
    &:focus {
      color: #019bdd;
      background-color: #ffffff;
    }
  }

  &_reset {
    color: #b1b1b1;
    border: 1px solid #b1b1b1;
    padding: 5px;
    min-width: 104px;

    &:hover,
    &:focus {
      background-color: #019bdd;
      border-color: #019bdd;
    }
  }
}




