.form {
  font-size: 17px;
  color: #000000;
  &__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 27px;
  }

  .input{
    width: 100%;
    border: none;
    background-color: #f6f6f6;
    border-radius: 4px;
    line-height: 1;
    padding: 8px 18px 9px;
    font-size: 17px;
  }
  ::placeholder {
    color: #ababab;
  }

.filled-background{
  background-color: #effbff;
}
  .textarea{
    width: 100%;
    max-width: 100%;
  }
  .form-group{
    margin-bottom: 28px;
    &:last-child {
      margin: 0;
    }
  }
  .btn-submit {
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 17px  17px 18px;
    background-color: #019bdd;
    color: #ffffff;

    &.disabled{
      background: #b1b1b1;
      border: 1px solid #b1b1b1;
    }
  }

  .fieldbox {
    max-width: 284px;
    width: 45%;
  }
}

.file-upload{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 18px 18px;
  margin-bottom: 12px;
  margin-top: 20px;
  color: #ababab;
  .icon-upload{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #ababab;
    background-color: transparent;
    margin-left: 15px;
  }
}

.has-file{
  .file-upload{
    color: #000;
  }
  .icon-upload {
    border: 1px solid #019bdd;
  }
  path {
    fill: #019bdd;
  }
}

//custom checkbox

.label-checkmark{
  position: relative;
  color: #ababab;
  font-size: 17px;
  margin-right: auto;
  padding-left: 48px;
}

.checkmark{
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.check-mark{
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border: 2px solid #ababab;
  margin-left: -30px;
  transition: .35s;
  border-radius: 3px;
}

.checkmark:checked +.check-mark{
  background-color: #019bdd;
  background-image: url(../assets/img/svg/check.svg);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  border-color: #019bdd;

}

@include respond-to($xs){
  .form{
    font-size: 16px;
    .form-group{
      margin-bottom: 16px;
    }
    .input{
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .label-checkmark{
    font-size: 13px;
    padding-left: 30px;
    padding-top: 3px;
  }

  .file-upload{
    padding-left: 12px;
  }
}