.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  background-color: #ffffff;
  width: 90%;
  max-width: 860px;
  max-height: 730px;
  height: 100%;
  overflow-y: auto;
  transition: .5s;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: .5s;
  }

  &__header {
    position: relative;
  }

  &__header-logo {
    display: none;
    max-width: 164px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin-left: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    color: #000000;

  }

  &__close {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    padding: 0;
    top: 13px;
    right: 10px;
    z-index: 20;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.modal-add-child {
  padding: 50px 84px;
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .modal__header {
    margin-left: 34px;
    margin-right: 34px;
  }

  .modal-tabs,
  .form-footer {
    padding-left: 34px;
    padding-right: 34px;
  }

  .modal-tabs__content {
    height: 100%;
  }

  .fieldbox {
    margin-bottom: 28px;
  }

  .modal__title {
    margin-bottom: 30px;
  }
}

.modal-add-doctor {
  padding: 72px 84px 44px;

  .modal__header {
    margin-bottom: 78px;
    padding-bottom: 12px;
  }

  .d-flex {
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .form__body {
    padding-bottom: 0;
  }
}

.modal-appointment {
  padding: 72px 88px 44px;

  .modal__title {
    font-size: 40px;
  }

  .form__body {
    padding-top: 24px;
    padding-bottom: 0;
  }

  .modal__header {
    align-items: center;
    padding-bottom: 14px;
    margin-bottom: 78px;
  }

  .sub-title {
    font-size: 15px;
    line-height: 1.17;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #afafaf;
    max-width: 195px;
  }

  .form .fieldbox {
    width: 83%;
  }

  .part {
    width: 50%;
  }

  .modal__close {
    top: 5px;
  }

  .btn-submit {
  }

  .datepicker {
    font-feature-settings: 'pnum' on, 'lnum' on;

    table {
      width: 100%;
      font-family: Raleway, sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
    }

    .ui-datepicker-unselectable .ui-state-default {
      color: #B0B0B0;
    }

    .ui-datepicker-prev {
      background-image: url(../assets/img/prev.svg);
    }

    .ui-datepicker-next {
      background-image: url(../assets/img/next.svg);
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      cursor: pointer;
      width: 8px;
      height: 16px;
      background-size: contain;
      margin-left: 30px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .ui-datepicker .ui-datepicker-header {
      border: none;
      border-bottom: 1px solid #B8B8B8;
      display: flex;
      align-items: center;
      padding: 8px 0 9px;

      .ui-icon {
        display: block;
        overflow: hidden;
        text-indent: -999px;
      }
    }

    .ui-corner-all {
      order: 2;
    }

    .ui-datepicker-title {
      text-align: left;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      order: 1;
      color: #333333;
      margin: 0 auto 0 0;
    }

    th {
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      color: #ABABAB;
      padding: 16px 5px 20px;
    }

    .ui-state-default {
      border: none;
      background: transparent;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #000;
      margin: auto;
    }

    .ui-state-active {
      background: #019BDD;
      color: #ffffff;

    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      position: relative;
      height: auto;
    }

    .ui-widget.ui-widget-content {
      border: none;
      padding: 0;
    }

    .ui-widget-header {
      background-color: transparent;
    }

    .ui-datepicker-inline {
      width: 100%;
    }
  }

  .datepicker-description {
    display: none;
  }

  .part_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.modal-info {
  max-width: 903px;
  max-height: 906px;
  padding: 70px 93px 90px;
  font-size: 17px;
  line-height: 1.47;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #616161;

  &__content {
    padding-bottom: 56px;

    p {
      margin-bottom: 25px;
    }
  }

  .modal__close {
    top: 28px;
  }

  &__title {
    font-weight: 500;
    font-size: 70px;
    line-height: 1.07;
    margin-bottom: 65px;
  }

  .btn_main {
    width: 100%;
  }
}

.thank-you {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
  padding: 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  color: #019bdd;
  z-index: 10;

  &.show-thanks {
    display: block;
  }

  .modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

  }

  .wrap-img {
    max-width: 313px;
    width: 40%;
    margin-bottom: 55px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  .decor-line {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 200px;
      height: 1px;
      background-color: #019bdd;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    padding-bottom: 34px;
    text-align: center;
    max-width: 513px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

}
.modal-add-child{
  .thank-you__text{
    max-width: 384px;
  }
}

.scroll {
  overflow: auto;
  max-height: 305px;
}

@include respond-to($lg) {
  .modal {
    padding-left: 50px;
    padding-right: 50px;

    .form .fieldbox {
      max-width: 340px;
    }
  }
  .modal-appointment {
    .form .fieldbox {
      width: 90%;
    }
  }
}

@include respond-to($md) {
  .modal {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

@include respond-to($sm) {
  .modal {
    max-height: 100%;

    .modal__close {
      right: auto;
      top: 0;
    }

    .form .btn-submit {
      margin-top: 25px;
    }

    .form .fieldbox {
      max-width: 100%;
      width: 100%;
      margin-bottom: 28px;

    }

    .form__body {
      padding-top: 0;
    }

    .modal__header {
      margin-bottom: 38px;
      padding-bottom: 0;
    }

    &__header-logo {
      position: relative;
      display: block;
      z-index: 20;
    }

    .modal__title {
      display: none;
    }
  }
  .modal-info {
    &__title {
      display: none;
    }

    .modal__close {
      top: 2px;
    }

    &__content {
      padding-bottom: 24px;
    }

    .modal__header-logo {
      max-width: 213px;
    }
  }
  .modal-appointment {
    .part {
      width: 100%;
    }

    .file-upload {
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 9px;
    }

    .form-group:nth-child(4) {
      order: 1;
    }

    .modal__header .part {
      display: none;
    }

    .form .fieldbox {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    .datepicker {
      margin-bottom: 20px;
    }

    .datepicker-description {
      display: block;
      font-size: 16px;
      color: #afafaf;
      margin-bottom: 28px;
    }
  }
  .modal-add-doctor {
    .fieldbox:last-child {
      margin-bottom: 0;
    }

  }

  .link-list {
    &__item {
      display: flex;
      flex-wrap: wrap;
    }

    .name-item,
    .url-item {
      width: 100%;

    }
    .url-item {
      padding-left: 38px;
      padding-top: 7px;
    }
  }
  .add-link {
    font-size: 16px;
  }
  .add-link__icon {
    margin-right: 28px;
  }
}

@include respond-to($xs) {
  .modal {
    padding: 34px 30px;

    .form .btn-submit {
      margin-top: 31px;
      margin-bottom: 0;
    }

  }
  .form .form__body {
    padding-bottom: 0;
  }
  .modal-add-child {
    height: auto;
    .form .fieldbox {
      margin-bottom: 16px;
    }

    .form {
      height: initial;
      min-height: 690px;
      display: flex;
      flex-direction: column;
    }

    .form-footer {
      margin-top: auto;
    }
  }
  .modal-add-doctor {
    .form .fieldbox {
      margin-bottom: 0;
    }
    .form .form-group {
      margin-bottom: 16px;
    }
  }
  .modal-info {
    font-size: 16px;

    .modal__header {
      margin-bottom: 54px;
    }

    .modal-info__content {
      padding-bottom: 28px;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .thank-you {
    font-size: 20px;

    &__text {
      max-width: 270px;
    }
  }
  .thank-you .wrap-img {
    max-width: 168px;
    width: 100%;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 350px) {
  .modal-info {
    .modal__header-logo {
      max-width: 190px;
    }

    .modal__close {
      top: 0;
    }
  }
}
