
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@include respond-to($lg){
  .swiper-pagination-bullet {
    border: 1px solid #019bdd;
  }

  .swiper-pagination-bullet-active {
    background-color: #019bdd;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: auto;
    bottom: 35px;
  }
}