
$main-font: 'Raleway', sans-serif;

// Screen Variables

$xs: '(max-width: 420px)';
$sm: '(max-width: 620px)';
$md: '(max-width: 840px)';
$lg: '(max-width: 1080px)';
$laptop: '(max-width: 1240px)';
$laptop-md:'(max-width: 1366px)';
$laptop-large:'(max-width: 1600px)';





