
$main-font: 'Raleway', sans-serif;

// Screen Variables


$xs: '(max-width: 420px)';
$sm: '(max-width: 576px)';
$md: '(max-width: 768px)';
$lg: '(max-width: 992px)';
$laptop: '(max-width: 1240px)';
$laptop-md:'(max-width: 1440px)';





