.sl-left{
  animation: slideInLeft ease-in 0.5s forwards;

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      animation-delay: #{$i * 1000}s;
    }
  }
}

.section_anim {
  opacity: 0;
  -webkit-transition: opacity ease-in .8s;

}

.section_in-view {
  opacity: 1;
}