.footer {
  background-color: #0695F3;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 40px;
  border-top: 1px solid #ffffff;

  &__logo-wrap {
    font-weight: 500;
    font-size: 10px;
    line-height: 1;
  }

  &__logo {
    display: block;
    max-width: 106px;
    height: auto;
    margin-bottom: 8px;
  }

  &_bottom,
  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_top {
    margin-bottom: 15px;
  }

  .social-bar {
    &__link {
      display: inline-block;
      margin-left: 95px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__text {
      width: 100%;
      font-weight: 500;
      font-size: 10px;
      line-height: 1;
      padding-top: 11px;
    }

    &__icon {
      display: inline-block;
      width: 24px;
      height: 24px;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .link-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
  }

  &__copyright {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
}

@include respond-to($md){
  .footer{
    padding-top: 32px;
    .social-bar__link{
      margin-left: 26px;
      &:last-child{
        margin-left: 0;
      }
    }
    .social-bar__icon{
      width: 33px;
      height: 33px;
    }
    .social-bar__text{
      padding-top: 24px;
    }
  }
  .footer_top {
    flex-wrap: wrap;
    margin-bottom: 38px;
  }
  .footer__copyright{
    width: 100%;
    text-align: center;
    order: -1;
    margin-bottom: 35px;
  }
  .footer_bottom{
    flex-wrap: wrap;
  }
  .link-mail{
    margin-bottom: 6px;
  }
  .description {
    order: 1;
    font-size: 12px;
  }
}


