
.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  @include respond-to($laptop-large) {
    max-width: 1240px;
  }

  @include respond-to($laptop-md) {
    max-width: 1080px;
  }

  @include respond-to($laptop) {
    max-width: 990px;
  }
  @include respond-to($lg) {
    max-width: 800px;
  }
  @include respond-to($md){
    max-width: 560px;
  }
  @include respond-to($sm){
    padding: 0 30px;
    max-width: 480px;
   }
  @include respond-to($xs){
    max-width: 100%;
  }
}
